html,
body {
    background-color: black;
}

.pickpay >h1 {
    padding-top: 200px;
    color:aliceblue;
    text-align: center;
}

.pickpay >img {
    padding-top: 50px;
    padding-left: 300px;
    width: 400px;
    color:aliceblue;
    text-align: center;
}